html{
  background-color: rgb(250, 240, 227);
}

#bloc-entête {
   width: 99,5%;
   max-height: 350px;
   background-image: url("seineetmarne_2.jpg");
   background-size: 100% 600px;
   border: solid 2px;
   border-color: black;
   margin:center;
  }

  h1 {
    font-family: 'Cinzel', serif;
    letter-spacing: 2px;
    color: red;
    background-color: none;
    padding-top: 30px;
    border-bottom: 2px solid;
    margin:auto;
    text-align: center;
    width: 80%;
    font-size: 2.5em;
  }

  .description {
    font-family: 'Quicksand', sans-serif;
    color: red;
    text-align: center;
    font-size: 1.5em;
  }

#map { 
  height: 600px; 
  width: 80%;
  margin-left: 10%;
  border: solid 2px;
  margin-bottom: 20px;
}


table, h2 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 60%;
  margin-left: 20%;
  border: 1px solid #000;
  background-color: white;
  text-align: center;
}


th, td {
  padding: 15px;
  width: 10%;
  border: 1px solid #000;
}

.legend {
  line-height: 18px;
  color: #555;
}
  
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.info {
  padding: 6px 8px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h6 {
  margin: 0 0 10px;
  color: #555;
  font-size: 14px;
}

h6 {
  text-align: center;
}

h8 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  color: black;
  background-color: none;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
}

p {
  text-align: center;
}

h9 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  color: black;
  background-color: none;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  font-size: 0.85em;
}

#credits {
  width: 75%;
  max-height: 150px;
  border: solid 1px;
  border-color: black;
  opacity: 0.33;
  margin-left: 12.5%;
 }